body {
  background: #f2f2f2;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  text-align: center;
}
